body {
    background-color: darkgray;
}

h2 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

strong {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}