header{
    padding-top: 50px;
    background: #a0ebee;;
}

body {
    background-color: #a0ebee;
}

/********************
Modal Formatting
*********************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #cccccc;
    margin: 0% auto; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888888;
    width: 75%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #888888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/*******************
Text Formatting
*******************/

h1 {
    color: #6b6b6b;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


h2 {
    color: #6b6b6b;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #383838;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p2 {
    color: #383838;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;   
}

/* Using strong text for warnings. Hot pink color means if it appears it shouldn't be there */
strong {
    color: rgb(255, 0, 212);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}